/secrets.json
/storage.db
*.pyc
/instructions
/libpeerconnection.log
/additions_to_make
/static/user_uploads/event_imgs/*
/static/user_uploads/user_imgs/*
/static/user_uploads/banner_images/*
/static/global/lesscss_cache
/userprofile/migrations/*
/event_app/migrations/*
/cshub_site/migrations/*
/setup.log
/node_modules
/logs/*
/dev_db/*
.DS_Store
