/secrets.json
/storage.db
*.pyc
/instructions
/libpeerconnection.log
/additions_to_make
/static/user_uploads/event_imgs/*
/static/user_uploads/user_imgs/*
/static/user_uploads/banner_imgs/*
/static/global/lesscss_cache
