html, body {
    height: 100%;
    background: #FAFAFA;
}
footer {
    padding: 17px 0 18px 0;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}

.push {
    height: 63px;
}

.bottombar {
    width: 100%;
    background-color: #2E2E2E;
    color: #d4d4d4;
}

.bottombar h6{
    font-size: 18px;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.additional-links {
    list-style: none;
    margin-bottom: 10px;

}
.additional-links li,ul{
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
}

.additional-links a{
    color: #ccc; 
}

.github-footer {
    float: left;
    width: 120px;
    height: 120px;
    background: url("../../icons/footer/github-footer.png");
    background-repeat:no-repeat;
    background-size: 120px;
}
.twitter-footer {
    float: left;
    width: 100px;
    margin-top: 17px;
    height: 100px;
    background: url("../../icons/footer/twitter-footer.png");
    background-repeat:no-repeat;
    background-size: 100px;
}
.facebook-footer {
    float: left;
    width: 100px;
    height: 100px;
    background: url("../../icons/footer/facebook-footer.png");
    background-repeat:no-repeat;
    background-size: 60px;
    margin-top: 16px;
}
.github-footer:hover {

    background: url("../../icons/footer/github-footer-select.png");
    background-repeat:no-repeat;
    background-size: 120px;
    cursor: pointer;   
}
.twitter-footer:hover {
    background: url("../../icons/footer/twitter-footer-select.png");
    background-repeat:no-repeat;
    background-size: 100px;
    cursor: pointer;   
}
.facebook-footer:hover {
    background: url("../../icons/footer/facebook-footer-select.png");
    background-repeat:no-repeat;
    background-size: 60px;
    cursor: pointer;    
    
    
}


@media (max-width: 768px) {
   .navbar-collapse {
      max-height: auto;
      overflow-y: auto;
   }
}
.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

.carousel-indicators {
    display: none;
}