{% load staticfiles %}
{% load tags %}
{% load compress %}

<!DOCTYPE html>
<html>
    <head>
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      
      <!-- <link href="{% static "global/css/global-base.css" %}" rel="stylesheet" type="text/css"> -->
      {%block resources%}{%endblock%} 

      {% if debug %}
        <title>CSHUB+dev</title>
        <link rel="stylesheet/less" type="text/css" media="all" href="{% static 'global/less/app.less'%}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
      {% else %}
        {% compress css %}
          <link rel="stylesheet" type="text/less" media="all" href="{%static 'global/less/app.less'%}"/>
        {% endcompress %}
        <title>CSHUB</title>
      {% endif %}



    </head>

    <body>
      <div class="wrapper">
      <nav class="navbar-square navbar-inverse .navbar-fixed-top" role="navigation">
        <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CSHUB</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  <li class="{% active request "^/$" %}"><a href="/">Home</a></li>
                  <li class="{% active request "^/events" %}"><a href="/events">Events</a></li>
                  <li class="{% active request "^/accounts" %}"><a href="/accounts/list">Members</a></li>
                  <li class="{% active request "^/forum" %}"><a href="/forum">Forum</a></li>
                  <li class="{% active request "^/contact" %}"><a href="/contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  
                  <li class="divider-vertical"></li>
                  
                  <li class="dropdown">
                  {% if not user.is_authenticated %}
                    
                      <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Sign in <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <div class="form-group" style="padding: 10px; ">
                          {% if form.errors %}
                            <p class="error">Sorry, that's not a valid username or password</p>
                          {% endif %}
                          <form action="/accounts/auth/" method="POST">
                            <!-- <fieldset> -->
                            {% csrf_token %}
                            <input type="text" name="username" value="" id="username" class="form-control" placeholder="username" autocomplete="off">
                            <input type="password" name="password" value="" id="password" class="form-control" style="margin-top: 5px" placeholder="password" autocomplete="off">
                            <button type="submit" class="btn pull-right btn-success" style="width:100%; margin-top: 5px; margin-bottom: 10px;" value="login">Login</button>
                          <!-- </fieldset> -->
                          </form>
                        </div>
                        <li class="divider"></li>
                        <li><a href="/accounts/list/">Search for user</a></li>
                        <li><a href="/accounts/register/">Register</a></li>
                        <li><a href="/resetpass/">Forgot password?</a></li>
                      </ul>
                    
                  {% else %}
                  {% if user.profile.user_avatar %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <div style="float: left; margin-top:-9px; margin-right: 10px; overflow: hidden; height: 40px; ">
                        
                        <img src="{% static user.profile.user_avatar %}" alt="user image" width="40" class="pull-left">

                      </div>
                      {{user}}
                      <b class="caret"></b>
                    </a>
                    
                  {% else %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "user_uploads/user_imgs/default.png" %}" alt="user image" width="40" class="pull-left" style="margin-top:-9px; margin-right: 10px; overflow: hidden; height: 40px; ">{{user}}
                      <b class="caret"></b>
                    </a>
                  {% endif %}   
                    <ul class="dropdown-menu">
                      <li><a href="/accounts/profile/">Edit profile</a></li>
                      <li class="divider"></li>
                      <li><a href="/accounts/logout/">Log out</a></li>
                    </ul>
                  {% endif %}
                </li>
                  
                </ul>
              </div><!-- /.navbar-collapse -->
            </div>
            </nav>
           
              {%block content%}{%endblock%} 
        
          
      </div> <!--wrapper-->
    
    <div class="push"></div>
    <div class="bottombar">
      <div class="container">
        <br><br>
        <div class="col-md-4 col-sm-12 col-sm-12">
        <p>Site built and designed by <a href="https://twitter.com/mlisbit">Maciej Lis</a></p>
        </div>
        <div class="col-md-4 col-sm-12 col-sm-12">
          <ul class="additional-links">
            <li><a href="/faq">FAQ</a> </li>
            <li><a href="/about-site">About this site</a> </li>
          </ul>
          <h6>Sponsors</h6>
          <ul class="additional-links">
            <li><a href="http://lassonde.yorku.ca/">Lassonde School of Engineering</a></li>
            <li><a href="http://yorku.ca/">York University</a></li>
          </ul>
          <br>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a href="http://www.github.com/mlisbit/cshub_site"><i class="footer-icons fa fa-github"></i></a>
            <a href="http://www.twitter.com/thecshub"><i class="footer-icons fa fa-twitter"></i></a>
            <a href="http://www.facebook.com/thecshub"><i class="footer-icons fa fa-facebook"></i></a>
        </div>
          
      </div> <!-- container -->
    </div>
    <script src="https://code.jquery.com/jquery.js"></script> 
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% if not debug %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48973861-1', 'cshub.ca');
      ga('send', 'pageview');

    </script>
    {% endif %}
    
    {%block endscripts%}{%endblock%} 
    </body>
</html>