{% load staticfiles %}
{% load tags %}
<!DOCTYPE html>
<html>
    <head>

      <title>CSHUB</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
      <!-- Bootstrap -->
      <link href="{% static "bootflat-master/bootstrap/bootstrap.min.css" %}" rel="stylesheet" media="screen">
      <link href="{% static "bootflat-master/css/font-awesome.min.css" %}" rel="stylesheet" media="screen">
      <link href="{% static "bootflat-master/css/bootflat.css" %}" rel=" stylesheet" media="screen">
      <link href="{% static "bootflat-master/css/bootflat-extensions.css" %}" rel="stylesheet" media="screen">
      <link href="{% static "bootflat-master/css/bootflat-square.css" %}" rel="stylesheet" media="screen">
      <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      
      {%block resources%}{%endblock%} 
      <link href="{% static "global/css/style.css" %}" rel="stylesheet" type="text/css">
      

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      <div class="wrapper">
      <nav class="navbar-square navbar-inverse .navbar-fixed-top" role="navigation">
        <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CSHUB</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  <li class="{% active request "^/$" %}"><a href="/">Home</a></li>
                  <li class="{% active request "^/events" %}"><a href="/events">Events</a></li>
                  <li class="{% active request "^/accounts" %}"><a href="/accounts/list">Members</a></li>
                  <li class="{% active request "^/contact" %}"><a href="/contact">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  
                  <li class="divider-vertical"></li>
                  
                  <li class="dropdown">
                  {% if not user.is_authenticated %}
                    
                      <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Sign in <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <div class="form-group" style="padding: 10px; ">
                          {% if form.errors %}
                            <p class="error">Sorry, that's not a valid username or password</p>
                          {% endif %}
                          <form action="/accounts/auth/" method="POST">
                            <!-- <fieldset> -->
                            {% csrf_token %}
                            <input type="text" name="username" value="" id="username" class="form-control" placeholder="username" autocomplete="off">
                            <input type="password" name="password" value="" id="password" class="form-control" style="margin-top: 5px" placeholder="password" autocomplete="off">
                            <button type="submit" class="btn pull-right btn-success" style="width:100%; margin-top: 5px; margin-bottom: 10px;" value="login">Login</button>
                          <!-- </fieldset> -->
                          </form>
                        </div>
                        <li class="divider"></li>
                        <li><a href="/accounts/list/">Search for user</a></li>
                        <li><a href="/accounts/register/">Register</a></li>
                        <li><a href="/accounts/reset/">Forgot password?</a></li>
                      </ul>
                    
                  {% else %}
                  {% if user.profile.user_avatar %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <div style="float: left; margin-top:-9px; margin-right: 10px; overflow: hidden; height: 40px; ">
                        <img src="{% static user.profile.user_avatar %}" alt="user image" width="40" class="pull-left">
                      </div>
                      {{user}}
                      <b class="caret"></b>
                    </a>
                    
                  {% else %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static "user_uploads/user_imgs/default.png" %}" alt="user image" width="40" class="pull-left" style="margin-top:-9px; margin-right: 10px; overflow: hidden; height: 40px; ">{{user}}
                      <b class="caret"></b>
                    </a>
                  {% endif %}   
                    <ul class="dropdown-menu">
                      <li><a href="/accounts/profile/">Edit profile</a></li>
                      <li class="divider"></li>
                      <li><a href="/accounts/logout/">Log out</a></li>
                    </ul>
                  {% endif %}
                </li>
                  
                </ul>
              </div><!-- /.navbar-collapse -->
            </div>
            </nav>
           
            
              {%block content%}{%endblock%} 
        
          
      </div> <!--wrapper-->
    
    <div class="push"></div>
    <div class="bottombar">
      <div class="container">
        <br><br>
        <div class="col-md-4 col-sm-12 col-sm-12">
        <p>Site built and designed by <a href="https://twitter.com/mlisbit">Maciej Lis</a></p>
        </div>
        <div class="col-md-4 col-sm-12 col-sm-12">
          <ul class="additional-links">
            <li><a href="/faq">FAQ</a> </li>
            <li><a href="/about-site">About this site</a> </li>
          </ul>
          <h6>Sponsors</h6>
          <ul class="additional-links">
            <li><a href="http://lassonde.yorku.ca/">Lassonde School of Engineering</a></li>
            <li><a href="http://yorku.ca/">York University</a></li>
          </ul>
          <br>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a href="http://www.github.com/mlisbit/cshub_site"><i class="footer-icons fa fa-github"></i></a>
            <a href="http://www.twitter.com/thecshub"><i class="footer-icons fa fa-twitter"></i></a>
            <a href="http://www.facebook.com/thecshub"><i class="footer-icons fa fa-facebook"></i></a>
        </div>
          
      </div> <!-- container -->
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
     <script src="{% static "bootflat-master/js/bootstrap.min.js" %}"></script>
    {%block endscripts%}{%endblock%} 
    </body>
</html>