{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block content %}
	
	<div class="container">
		<div class="col-md-4">
			<center><h1>Office Hours for this week</h1>									</center>
			<center><strong>Monday:</strong> 		{{ office_hours.monday }} 		</center> 
			<center><strong>Tuesday:</strong>	 	{{ office_hours.tuesday }} 	</center> 
			<center><strong>Wednesday:</strong> 	{{ office_hours.wednesday }} 	</center> 
			<center><strong>Thursday:</strong> 		{{ office_hours.thursday }} 	</center> 
			<center><strong>Friday:</strong> 		{{ office_hours.friday }} 		</center> 
			<center><strong>Saturday:</strong> 		{{ office_hours.saturday }} 	</center> 
			<center><strong>Sunday:</strong>		{{ office_hours.sunday }} 		</center> 
			<p>Feel free to drop by with any questions you may have; these hours are updated weekly so you can count on us being there.</p>
		</div> <!-- hours of operation -->
		<div class="col-md-4">
			<center><h1>We love mail</h1></center>
			<form action="/contact/" class="pure-form pure-form-stacked contact-form" method="POST">{% csrf_token %}
				{{ form.non_field_errors }}
				{{ contact_form.as_p }}
	    		<!--<button type="submit" class="btn btn-info">Submit</button>-->
			</form>
		</div>
		<div class="col-md-4">
			<center><h1>Where you can find us:</h1></center>
			<center>Bethune College Room 103B</center>
			<img class="school-logo" src="{% static "global/imgs/Lassonde-logo.png" %}">
		</div>
		
	</div>
	<br>
	<div id="map-canvas"></div>
{% endblock %}

{% block resources %}
   <style>
      #map-canvas {
        height: 400px;
        margin: 0px;
        padding: 0px;
      }
   </style>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
{% endblock %}

{%block endscripts%}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
   <script>
		var map;
		var myLatlng = new google.maps.LatLng(43.774627, -79.498493);
		function initialize() {
		  	var mapOptions = {
		  		scrollwheel: false,
		    	zoom: 15,
		    	center: myLatlng,
		    	disableDefaultUI: true,
		    	mapTypeId: google.maps.MapTypeId.ROADMAP
		  	};
		  	google.maps.event.addDomListener(window, 'resize', function() {
    			map.setCenter(myLatlng);
			});
		  	map = new google.maps.Map(document.getElementById('map-canvas'),
		      mapOptions);

		  	var marker = new google.maps.Marker({
      		position: myLatlng,
      		map: map,
      		title: 'York University CSHub'
  			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	<script type="text/javascript">
		var frm = $('.contact-form');
		frm.append('<button type="submit" id="anti-bot-check" class="btn btn-info">Submit</button>')
		
		var type=frm.attr('method');
		var url=frm.attr('action');

		function success_it_up() {
			frm.prepend('<div id="email-cover" style="display:none; position: absolute; background: '+$('html').css('background')+'; height: 100%; width: 100%;"></div>')
			$("#email-cover").fadeIn("slow", function() {
				$(this).append("<center><h4 style='margin-left: -25px; font-size: 20px;'>Thanks :)</h4></center>");
				frm.css("overflow", "hidden");
				frm.animate({height: 80}, 200)
			})
		};
       
		$('#anti-bot-check').click(function() {
			function clear_form() {
				var id_list = [
					'#id_email',
					'#id_text',
					'#id_title'
				];
				$.each(id_list, function(index, value) {
	                $(value).parent('p').children('span').remove();
	                $('input'+value).css({"borderColor":"auto"});
	            });
	            $('textarea#id_text').css({"borderColor":"auto"});
			};



			frm.unbind('submit').submit(function() {
				$('#anti-bot-check').button('loading')
				$.ajax({
					type: frm.attr('method'),
					url: frm.attr('action'),
					data: frm.serialize(),
					success: function (resp) {
						$(frm).find("input[type=text], textarea").val("");
						clear_form();
						success_it_up();
						$('#anti-bot-check').button('reset')
					},
					error: function(resp) {
						var errors = JSON.parse(resp.responseText);
						clear_form();
						for (error in errors) {
	                        var id = '#id_' + error;
	                        $('input'+id).css({"borderColor":"red"});
	                        $('textarea'+id).css({"borderColor":"red"});
	                        $(id).parent('p').prepend("<span class='pull-right' style='color: red;'>"+(errors[error])+"</span>");
	                    }
	                    $("#anti-bot-check").before("<center><div id='form_error' style='color: red;'>Please correct the errors above.</div></center>")
	                    $('#anti-bot-check').button('reset')
					}
				});	

				return false
			});
		}) 
			
    </script>

{% endblock %} 