{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}



{% block content %}

<script src="{% static "sigma/sigma.min.js" %}"></script>
<script src="{% static "sigma/plugins/sigma.plugins.animate.min.js" %}"></script>
<div id="container">
  <style>
    #graph-container {
      margin-top: 10px;
      width:100%;
      height: 400px;
    }
  </style>
  <div id="graph-container"></div>
</div>
<script>

var received_data = {% autoescape off %}{{ json_time }}{% endautoescape %};
console.log(received_data);

var social_nodes = {},
  main_graph = {
    nodes: [],
    edges: []
  }

var data = {
  "nodes": [
    {
      "id": 'n_linkedin',
      "label": 'Linkedin',
      "circular_x": 0,
      "circular_y": -2,
      "circular_size": 1,
      "circular_color": '#ccc',
      "main_x": 0,
      "main_y": 0,
      "main_size": 1,
      "main_color": '#ccc',
      "size": 1,
      "x":0,
      "y":0,
      "color": '#ccc'
    },
    {
      "id": 'n_github',
      "label": 'Github',
      "circular_x": 0,
      "circular_y": 2,
      "circular_size": 1,
      "circular_color": '#fff',
      "main_x": 1,
      "main_y": 0,
      "main_size": 1,
      "main_color": '#ccc',
      "size": 1,
      "x":1,
      "y":1,
      "color": '#ccc'
    }
  ],
  "edges": [
    {
      "id": "e0",
      "source": "n_linkedin",
      "target": "n_github"
    }
  ]
}

s = new sigma({
  graph: data,
  container: 'graph-container',
  settings: {
    animationsTime: 1000,
    enableCamera: false
  }
});


/*
setInterval(function() {
  var prefix = ['main_','circular_'][step = +!step];
  console.log(g);
  sigma.plugins.animate(
    s,
    {
      x: prefix + 'x',
      y: prefix + 'y',
      size: prefix + 'size',
      color: prefix + 'color'
    }
  );
}, 2000); 
*/
</script>

{% endblock %}

{% block endscripts %}
  
{% endblock %}