{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block resources %}
  <link href="{% static "global/css/global-base.css" %}" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
{% if notifications %}
<div class="container notification-container">
  {% for notify in notifications %}
      <div class="alert alert-{{notify.color}}" style="margin-top: 3px; margin-bottom: 3px;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ notify.title }}</strong> {{ notify.description }}
      </div>
{% endfor %}
</div>
{% endif %}


{% if images %}
<div class="container carousel-container"> 
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for image in images %}
      {% if forloop.first %}     
        <div class="active item">
      {% else %}
        <div class="item">
      {% endif %}
        <img src="/static/{{ image.banner_image }}" style="width: 100%;">
  </div>
    {% endfor %}
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev" style="background-image: none;">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next" style="background-image: none;">&rsaquo;</a>
</div>
  
</div> <!-- container -->
{% else %}
  <div class="container">
  <style>
    #graph-container {
      margin-top: 10px;
      width: 100%;
      height: 400px;
    }
    #cshub-logo {
      position: relative;
      z-index: 100;
      margin-top: -280px; 
      width: 260px; 
      font-size: 100px;
      font-family: 'Poiret One', cursive;
    }
    #cshub-logo-sub {
      position: relative;
      z-index: 100;
      margin-top: -25px;
      margin-left: 80px;
      width: 115px;
      font-size: 15px;
      margin-bottom: 130px;
    }
  </style>
    <div id="graph-interact">
        <i style="position: relative; float: right; z-index: 200; margin-top: 20px; color: #ccc; cursor: pointer; font-size: 20px;" class="fa fa-hand-o-up">
          <p style="position: relative; margin-left: 18px; margin-top: -20px; padding: 4px; font-size: 13px;">interact</p>
        </i>
        
    </div>
    <div id="graph-container" ></div>
    <center><div id="cshub-logo">cshub</div></center>
    <center><div id="cshub-logo-sub">@YorkUniversity</div></center>
    
</div>
{% endif %}

<br>
<div class="container">
  <div class="col-md-4">
    <div class="main-icon">
    <center><i class="home-icons fa fa-globe"></i></center>
    <div class="expand">
      <br>
      <center><a href="/accounts/register"><p>register</p></a></center>
      <center><a href="/accounts/list"><p>view members</p></a></center>
    </div>
  </div>
    <center><h3>Join the {{ total_users }} total users</h3></center>
    <p>We are always looking for new members! You don't have to be a Computer Science or Engineering major, heck you can be any major your little heart desires! If you're interested in learning more about programming/computing, this is the club for you!</p>
      <div class="btn-group-vertical" style="width: 100%">
      </div> <!-- btn-group-vertical -->
    <div class="">

    </div>
  </div>
  <div class="col-md-4">
    <div class="main-icon">
      <center><i class="home-icons fa fa-comments-o"></i></center>
      <div class="expand">
        <br>
        <center><a href="http://www.facebook.com/thecshub"><p>facebook</p></a></center>
        <center><a href="http://www.twitter.com/thecshub"><p>twitter</p></a></center>
      </div>
    </div>
    <center><h3>get social!</h3></center>
    <p>
      Join events, make new friends, and learn something new. Sign up and join our member only events, or browse some events outside of York University!
      Browse member profiles and connect with them to make connections that will last a life time. Spread the word on Facebook and Twitter. 
    </p>
    <div class="btn-group-vertical" style="width: 100%">
      </div> <!-- btn-group-vertical -->
  </div>
  <div class="col-md-4">
    <div class="main-icon">
    <center><i class="home-icons fa fa-code-fork"></i></center>
    <div class="expand">
      <br>
      <center><a href="http://www.github.com/mlisbit/cshub_site"><p>github</p></a></center>
      <center><a href="/contact"><p>send us an email</p></a></center>
    </div>
    </div>
    <center><h3>Help us out</h3></center>
    <p>Feel like you have something to contribute? We are always looking for help developing the site, and tutors. Have graphic design experience? great! we need that too.</p>
    <div class="btn-group-vertical" style="width: 100%">
    </div> <!-- btn-group-vertical -->
  </div> <!-- collumn -->
</div> <!-- container -->
<br>
<div class="container" style="border-top: solid 2px #ccc;">
  <br>
  <div class="col-md-12">
    <center>
      <h1>Who are we?</h1>
      <p>We are the Computing Students Hub, a club founded at York University, Toronto. Don't let the name fool you, we have members from all faculties - if you're interested in Technology, and want to meet upw with some cool people who are too? this is the place for you.</p>
      <br>
      <h2>What's there to do in the CSHub?</h2>
        <p>We are a relatively new club, just starting September 2013, so we're not entirely sure ourselves! But what we have planned so far is pretty cool; meetups, free food, tutorial sessions for classes, programming tutorials, seminars.</p>
      <br>
      <h2>That's great! is there any way I can get involved?</h2>
        <p>
            Yeah! Whether you only want to attend the events, or help out in organization, and planning for the club - 
            there's a spot for you. Your first step is to sign up for an account, this confirms your position in the club, and will allow us to
            easily reach out and contact you. Next step: contact us. 
        </p>
  </center>
  </div>

</div>
<br><br><br>


{% endblock %}

{% block endscripts %}
  <script src="{% static "sigma/sigma.min.js" %}"></script>
  <script src="{% static "sigma/plugins/sigma.plugins.animate.min.js" %}"></script>
  <script type="text/javascript">
  var received_data = {% autoescape off %}{{ json_time }}{% endautoescape %};
  </script>
  <script src="{% static "global/js/social-graph.js" %}" type="text/javascript"></script>
  <script src="{% static "global/js/global.js" %}"></script>
  <script type="text/javascript">
    
    $("#graph-container").append('<div id="graph-cover" style="position: relative; width: 100%; height: 400px; z-index:200px;"></div>');
    
    $("#graph-interact i").mouseenter(function() {
        $(this).css({"color": "#848484"})
    })
    $("#graph-interact i").mouseleave(function() {
        $(this).css({"color": "#ccc"})
    })
    $("#graph-interact").click(function() {
        $("#graph-cover").toggle()
        if ($("#graph-interact i p").html() === "interact") {
          $("#graph-interact i").attr("class", "fa fa-times");
          $("#graph-interact i p").html("done");
        } else {
          $("#graph-interact i").attr("class", "fa fa-hand-o-up");
          $("#graph-interact i p").html("interact");
        }
    });

    //$("#graph-cover").hide();
  </script>
{% endblock %}