{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block content %}
<div class="container">
	<p>Under Contruction</p>
	{% if super %}
		<p style="color: red;">You are an elite member, you may not request to have your password changed.</p>
	{% endif %}

	<form action="/resetpass/" class="pure-form pure-form-stacked" method="POST">{% csrf_token %}
		<input id="email_reset" maxlength="20" name="email_reset" type="text" placeholder="your email"/>
		<button type="submit" class="btn btn-info">Send email</button>
	</form>
</div>

{% endblock %}