{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block content %}
<div class="container">
	<p>You are about to change your password.</p>
	<p>Your request will be sent over HTTP!</p>
	<p>Please make sure you are on a trusted network. Cshub doesnt have an SSL certificate as of this moment :(</p>
	<strong>Don't use a common password.</strong>
	{% if super %}
		<p style="color: red;">You are an elite member, you may not request to have your password changed.</p>
	{% else %}
		<form action="/resetpass/{{email}}/{{token}}" class="pure-form pure-form-stacked" method="POST">{% csrf_token %}
			<input id="new_pass" maxlength="50" name="new_pass" type="password" placeholder="new password"/>
			<input id="confirm_new_pass" maxlength="50" name="confirm_new_pass" type="password" placeholder="confirm password"/>
			<button type="submit" class="btn btn-info">Reset password</button>
		</form>
	{% endif %}
</div>

{% endblock %}