{% extends "base.html" %}
{% load staticfiles %}
{% load forum_tags %}
{% load tags %}

{% block content %}
	<div class="container">
		
			<section class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 section-panel top-border-green">
				<h3 class="section-heading">
					{{ pretty_forum_name }}
				</h3>
				<a class="pull-right" style="font-size: 21px;" href="" data-toggle="modal" data-target="#newThread">Start new thread</a>
				<br>
					{% for thread in threads %}
						<div class="forum_listing">
							<div class="special">
								{% if thread.is_sticky and not thread.is_closed %}
									<i class="fa fa-thumb-tack color-green"></i>
								{% elif thread.is_closed %}
									<i class="fa fa-close color-red"></i>
								{% else %}
									<i class="fa fa-circle-o"></i>
								{% endif %}
							</div>	
							<div class="labels">
								{% if thread.is_sticky %}
									<b>(Sticky) </b><a href="/forum/view/{{ forum_name }}/thread/{{ thread.name|trade_spaces }}">{{ thread.name }}</a><br>
								{% else %}
									<a href="/forum/view/{{ forum_name }}/thread/{{ thread.name|trade_spaces }}">{{ thread.name }}</a><br>
								{% endif %}
								
								<span>Created by: <a href="/accounts/user/{{ thread.created_by }}/">{{ thread.created_by }}</a></span>
							</div>
							<div class="posted-on">
								<p>posted on: <br>
									{{ thread.created_on }}
								</p>
							</div>

							<div class="post-count">
								<p>{{ thread.get_post_count }} replies</p>
							</div>
						</div>
					{% endfor %}
			</section>
	</div>

		<!-- Modal -->
	<div id="newThread" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                <h4 class="modal-title">Start new thread</h4>
	            </div>
	            <div class="modal-body">
	                <form action="/forum/create_thread" method="POST">{% csrf_token %}
	                	<p>Title</p>
	                	<input type="text" name="title" style="width: 100%;"></textarea>
	                	<p>Message</p>
	                	<textarea name="message" id="new-thread-textarea" style="width: 100%;"></textarea>
	                	<input type="hidden" name="current_url" value="{{ current_url }}">
	                	<input type="hidden" name="forum_name" value="{{ forum_name }}">
	                	<button type="submit" style="width: 100%" class="btn btn-success">create</button>
	                </form>
	            </div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock %}

{% block resources %}
	<style type="text/css">
		html, body {
			background: #e5e5e5 !important;
		}
	</style>
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/jhollingworth/bootstrap-wysihtml5/master/src/bootstrap-wysihtml5.css">

{% endblock %}

{%block endscripts%}
	<script type="text/javascript" src="https://cdn.rawgit.com/jhollingworth/bootstrap-wysihtml5/master/lib/js/wysihtml5-0.3.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/jhollingworth/bootstrap-wysihtml5/master/lib/js/prettify.js"></script>
	<script type="text/javascript" src="/static/global/js/bootstrap-wysihtml5.js"></script>

	<script type="text/javascript">
		$('#new-thread-textarea').wysihtml5();
	</script>


{% endblock %} 