{% extends "base.html" %}
{% load staticfiles %}
{% load forum_tags %}
{% load tags %}

{% block content %}
	<div class="container">
			<section class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 section-panel top-border-red">
				<h3 class="section-heading">
					{{ thread_name }}
				</h3>
				<div class="post">
					<div class="post-left">
						<img src="/static/{{ thread.created_by|get_avatar }}" class="img-rounded" width="100%">
					</div>
					<div class="post-right">
						<p>{{ thread.message }}</p>
					</div>
					
				</div>
				{% for post in posts %}
					<div class="post">
						<p>{{ post }}</p>
					</div>
				{% endfor %}
			</section>
	</div>
{% endblock %}

{% block resources %}
	<style type="text/css">
		html, body {
			background: #e5e5e5 !important;
		}
	</style>

{% endblock %}

{%block endscripts%}



{% endblock %} 