{% extends "base.html" %}
{% load staticfiles %}
{% load forum_tags %}
{% load tags %}

{% block content %}
	<div class="container thread-container">




			<section class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 section-panel top-border-red">
				<h3 class="section-heading">
					{{ thread_name }}
				</h3>
				<div class="post">
					<div class="post-left">
						{% if thread.created_by.profile.user_avatar %}
							<center>
							<img src="/static/{{ thread.created_by.profile.user_avatar }}" width="100%">
							<a href="/accounts/user/{{ thread.created_by }}/">{{ thread.created_by }}</a>
							</center>
						{% else %}
							<center>
							<img src="{% static "user_uploads/user_imgs/default.png" %}" width="100%">
							<a href="/accounts/user/{{ thread.created_by }}/">{{ thread.created_by }}</a>
							</center>
						{% endif %}	
					</div>
					<div class="post-right">
						<div class="heading">
							<p>{{ thread.created_on }}</p>
						</div>	
						{% autoescape off %}
							<p class="comment">{{ thread.message }}</p>
						{% endautoescape %}
					</div>
					
				</div>
				{% for post in posts %}
					<div class="post">
						<div class="post-left">
							{% if thread.created_by.profile.user_avatar %}
								<center>
								<img src="/static/{{ post.posted_by.profile.user_avatar }}" width="100%">
								<a href="/accounts/user/{{ post.posted_by }}/">{{ post.posted_by }}</a>
								</center>
							{% else %}
								<center>
								<img src="{% static "user_uploads/user_imgs/default.png" %}" width="100%">
								<a href="/accounts/user/{{ post.posted_by }}/">{{ post.posted_by }}</a>
								</center>
							{% endif %}	
						</div>
						<div class="post-right">
							<div class="heading">
								<p>{{ post.created_on }}</p>
							</div>	
							{% autoescape off %}
								<p class="comment">{{ post.message }}</p>
							{% endautoescape %}
						</div>
						
					</div>
				{% endfor %}
			</section>
		<div class="compose-button" data-toggle="modal" data-target="#replyMessage">
			<i class="fa fa-reply"></i>
		</div>
	</div>


	
<!-- Modal -->
<div id="replyMessage" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Reply in thread</h4>
            </div>
            <div class="modal-body">
                <form action="/forum/reply_to_thread" method="POST">{% csrf_token %}
                	<textarea name="message" id="reply-textarea" placeholder="Enter text ..." style="width: 100%; min-height: 200px;"></textarea>
                	<input type="hidden" name="current_url" value="{{ current_url }}">
                	<input type="hidden" name="thread_name" value="{{ thread_name }}">
                	<button type="submit" style="width: 100%" class="btn btn-primary">reply</button>
                </form>
            </div>
           
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}

{% block resources %}
	<style type="text/css">
		html, body {
			background: #e5e5e5 !important;
		}
		.btn-group {
			border: solid 1px #dedede;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/jhollingworth/bootstrap-wysihtml5/master/src/bootstrap-wysihtml5.css">

{% endblock %}

{%block endscripts%}
	<script type="text/javascript" src="https://cdn.rawgit.com/jhollingworth/bootstrap-wysihtml5/master/lib/js/wysihtml5-0.3.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/jhollingworth/bootstrap-wysihtml5/master/lib/js/prettify.js"></script>
	<script type="text/javascript" src="/static/global/js/bootstrap-wysihtml5.js"></script>

<script type="text/javascript">
	$('#reply-textarea').wysihtml5();
</script>
{% endblock %} 