{% extends 'base.html' %}
{% load staticfiles %}

{% block resources %}
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<link href="{% static "pure/forms/css/forms.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "userprofile/css/style.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="left" style="float: left; margin-right: 20px;">
			{%if form.user_avatar%}
				{% if thumbnail %}
					<p><img src="../../static/{{thumbnail}}" width="150px" class="img-rounded"></p>
				{% else %}
					<p><img src="{% static "user_uploads/user_imgs/default.png" %}" width="150px" class="img-rounded"></p>
				{% endif %}
			{%endif%}
		</div>
		<div class="right" style="float: left; margin-top: 20px;" >
			<div class="name_header">
				{% if name %}
					{{ name }}
				{% else %}
					no name
				{% endif %}
			<br>
			</div>
			<div class="username_header">
				{{uname}} <br>
			</div>
			{{email}} <br>
		</div>
	</div>
	
	<div class="container">
		<div class="contact_container col-md-4">
			<center> <h1>Private Information</h1> </center>
			<center><p style="color: red;">this is information will not be made public, and is only accessible by admins.</p></center>
			<form class="pure-form pure-form-stacked" action='/accounts/profile/' method="post" enctype="multipart/form-data" class="pure-form"> {% csrf_token %} 
				<fieldset>
				{% for field in form %}
					{% if field.id_for_label == "id_phone_number" %}
						{{ field.label }}
						{{ field }}
					{% elif field.id_for_label == "id_student_number" %}
						{{ field.label }}
						{{ field }}
					{% else %}
						<div style="display: none;">{{ field }}</div>
					{% endif %}
				{% endfor %}
				<input class="btn btn-primary pull-right" type="submit" value="update" >
			</fieldset>
			</form>
		</div>

		<div class="student_container col-md-4">
			<center> <h1>General Information</h1> </center>
			<form class="pure-form pure-form-stacked" action='/accounts/profile/' method="post" enctype="multipart/form-data"> {% csrf_token %} 
				<fieldset>
				{% for field in form %}
					{% if field.id_for_label == "id_major" %}
						<span>Major</span>
						{{ field }}
					{% elif field.id_for_label == "id_user_description" %}
						{{ field.label }} 
						{{ field }}
					{% else %}
						<div style="display: none;">{{ field }}</div>
					{% endif %}
				{% endfor %}

				<input class="btn btn-primary pull-right" type="submit" value="update" >
			</fieldset>
			</form>
		</div>
		<div class="social_container col-md-4">
			<center> <h1>Social Information</h1> </center>
			<form class="pure-form pure-form-stacked" action='/accounts/profile/' method="post" enctype="multipart/form-data"> {% csrf_token %} 
				<fieldset>
				{% for field in form %}
				<div class="pure-control-group">
					{% if field.id_for_label == "id_linkedin_link" %}
						<span>Linked in</span>
						{{ field }}
					{% elif field.id_for_label == "id_twitter_link" %}
						<span>Twitter</span>
						{{ field }}
					{% elif field.id_for_label == "id_github_link" %}
						<span>Github</span>
						{{ field }} 
					{% elif field.id_for_label == "id_facebook_link" %}
						<span>Facebook</span>
						{{ field }} 
					{% else %}
						<div style="display: none;">{{ field }}</div>
					{% endif %}
				</div>
				{% endfor %}
				<input class="btn btn-primary pull-right" type="submit" value="update" >
			</fieldset>
			</form>
		</div>
		<div class="upload_container col-md-4">
			<center> <h1>Upload Profile Picture</h1> </center>
			<form class="pure-form pure-form-stacked" action='/accounts/profile/' method="post" enctype="multipart/form-data"> {% csrf_token %} 
				<fieldset>
						{% for field in form %}
							{% if field.id_for_label == "id_user_avatar" %}
							{{ field }}
							{% endif %}
						{% endfor %}
				<input class="btn btn-primary pull-right" type="submit" value="update" >
			</fieldset>
			</form>
		</div>
	</div>

	<div class="container">
		
	</div>
	<!--
	<div class="container">
		<div class="form_container col-md-6">
			<form action='/accounts/profile/' method="post" enctype="multipart/form-data"> {% csrf_token %} 
				{% for field in form %}
					<div class="left-side">
						{{ field.label }}<br>
					</div>
					<div class="right-side">
						{{ field }}<br>
					</div>
					{{ field.id_for_label }}
				{% endfor %}
				<input type="submit" value="update" >
			</form>
		</div>
	</div>
	-->
{% endblock %}