{% extends "base.html"%}
{% load staticfiles %}

{% block resources %}
<link href="{% static "event_app/css/style.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<br>
		<div class="container">
			{% for x in Events %}
  			<div class="col-md-3">
    		<div class="thumbnail">
      		<img src="{% static "imgs/thumb.png" %}" alt="...">
      		<div class="caption">
        			<h3>{{x.name}}</h3>
        			<p>{{ x.going }} people are going to this event</p>
        			<p>{{x.description}}</p>
        				<a href="/events/get/{{ x.id }}/" class="btn btn-success" style="width: 100%">Check it out</a> 
      		</div>
    		</div>
  			</div>
  		{% endfor %}
		</div> <!-- container -->

{% endblock %}
