{% extends "base.html"%}
{% load staticfiles %}
{% load event_tags %}

{% block resources %}
<link href="{% static "event_app/css/style.css" %}" rel="stylesheet" type="text/css">

<style type="text/css">
.col-lg-3 .col-md-3 .col-sm-4 .col-xs-12{
    margin-right: -1px;
}
</style>
{% endblock %}



{% block content %}
<br>
<div class="container">
<a href="/events/passed/" class="btn" style="float: right;">Past Events</a> 
</div>
<br>
		<div class="container">
      <div class="iso">
			{% for x in event_list %} 
        {% if not x.is_over %}
  			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 iso-item">
    		<div class="thumbnail">
          <div style="background: #ccc; overflow: hidden;">
            <center><img src="/static/{{x.event_img}}" alt="..." style="min-height:50px; height:200px; overflow: hidden;"></center>
          </div>
      		<div class="caption">
        			<h3>{{x.name}}</h3>
        			<p><span class="badge badge-inverse">{{ x.going_set.all|get_count }}</span> people are going to this event</p>
              {% autoescape off %}
        			{{x.description|truncatewords:"20"}}
              {% endautoescape %}
              <center><p>{{ x.when }}</p></center>
        				<a href="/events/get/{{ x.id }}/" class="btn btn-info" style="width: 100%">Check it out</a> 
      		</div>
    		</div>
  			</div>
        {% endif %}
  		{% endfor %}
      {% if not event_list %}
        <p>There are no new events</p>
      {% endif %}
      </div> <!-- row -->
		</div> <!-- container -->
{% endblock %}

{% block endscripts %}
    {% if event_list.count > 3 %}
    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://isotope.metafizzy.co/jquery.isotope.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var container = $('.iso');
      container.imagesLoaded( function(){
        container.isotope({
          itemSelector : '.iso-item',
        });
      });
    }); 
    </script>
    {% endif %}
{% endblock %}
