.name_header {
	font-size: 30px;
}

.username_header {
	font-size: 20px;
}

.contact_container, .student_container, .social_container, .additional_container, .upload_container{
	background-color: #E6E6E6;
	border-radius: 5px;
	border: solid 1px white;
}

.social_container input[type="text"]{
	width: 100%;
}

.student_container input[type="text"]{
	width: 100%;
}

.contact_container input[type="text"]{
	width: 100%;
}

.student_container textarea{
	width: 100%;
}

.hacky-fix input[type="file"] {
	display: block;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
    display: inline-block;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
    display: inline-block;
}

.member-thumb {
	min-width: 300px;
	border: solid 2px white;
	background: #FAFAFA;
}

.badge-zone {
	position: absolute;
}

.profile-main-pane {
	
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -20px;
	border-radius: 5px;
	background: #FAFAFA;
}

.profile-main-pane .right {
	float: left; 
	margin-left: 10px; 
	display: inline-block;
	margin-top: -15px;
}

.profile-main-pane .right h3{
	margin-top: -10px;
}
.profile-main-pane .right h4{
	margin-top: 25px;
}

.profile-main-pane .left {
	float: left; 
	display: inline-block;
}
.social-icons {
	padding: 10px;
	border-radius: 5px;
	background: #FAFAFA;
}
.social-icons h3{
	margin-top: 0px;
}
span.clear { clear: left; display: block; }

.registration-form {

}
.registration-form input[type="text"]{
	width: 100%;
	font-size: 15px;
}
.registration-form input[type="password"]{
	width: 100%;
	font-size: 15px;
}
.registration-form input[type="submit"]{
	width: 100%;
	margin-top: 10px;
}