#map-canvas {
	margin-top: 10px;
	border-top: solid 2px #ccc;
}

.contact-form input[type='text'] {
	width: 100%;
	font-size: 15px;
}

.contact-form textarea{
	width: 100%;
	max-width: 100%;
	font-size: 15px;
}

.contact-form button{
	margin-top: 10px;
	width: 100%;
	max-width: 100%;
}

.school-logo {
	width: 100%;
	margin-top: 10px;
}

.main-icon .expand {
	display: none;
}

.main-icon .expand a {
	color: #0B615E;
	font-size: 20px;
	text-decoration: none;
}

.main-icon .expand a:hover {
	text-decoration: none;
	color: #2E2E2E;
}

.main-icon img:hover {
	cursor: pointer;
}

.main-icon img {
	padding-right: 1px;
	padding-bottom: 5px;
}